@font-face {
  font-family: "iconfont"; /* Project id 4966758 */
  src: url('//at.alicdn.com/t/c/font_4966758_0n4tgy0s8vl.woff2?t=1751614587273') format('woff2'),
       url('//at.alicdn.com/t/c/font_4966758_0n4tgy0s8vl.woff?t=1751614587273') format('woff'),
       url('//at.alicdn.com/t/c/font_4966758_0n4tgy0s8vl.ttf?t=1751614587273') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hp:before {
  content: "\e6c6";
}

.icon-lx:before {
  content: "\e66d";
}

.icon-ps:before {
  content: "\e68e";
}

.icon-time:before {
  content: "\e854";
}
