<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表的过滤</title>
    <!-- 引入Vue -->
    <script  type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 创建一个容器 -->
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <input type="text" v-model="keyWord" placeholder="请输入姓名" >
        <ul>
          <li v-for="(person,index) of filterPersons" :key="index">
              {{person.name}}-{{person.age}}-{{person.sex}}
          </li>
        </ul>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false //设置为 false 以阻止 vue 在启动时生成生产提示。
        
        //用watch实现
        //#region
      /*  const vm = new Vue({
            el:'#root', 
            data:{
              keyWord:'',
              persons:[
                {id:'001',name:'马冬梅',age:18,sex:'女'},
                {id:'002',name:'周冬雨',age:19,sex:'女'},
                {id:'003',name:'周杰伦',age:20,sex:'男'},
                {id:'004',name:'温兆伦',age:21,sex:'男'},
              ],
              filterPersons:[],
            },
            watch: {
              keyWord:{
                immediate:true,
                handler(val){
                    this.filterPersons = this.persons.filter((p)=>{
                        //函数体
                        return p.name.indexOf(val) !== -1
                    })
                }
              }
            },
        }) */

        //用computed实现
        const vm = new Vue({
            el:'#root', 
            data:{
              keyWord:'',
              persons:[
                {id:'001',name:'马冬梅',age:18,sex:'女'},
                {id:'002',name:'周冬雨',age:19,sex:'女'},
                {id:'003',name:'周杰伦',age:20,sex:'男'},
                {id:'004',name:'温兆伦',age:21,sex:'男'},
              ],
            },
            computed:{
              filterPersons(){
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !== -1
                })
              }
            }
        })
   </script>
</body>
</html>
