@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1752247112481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minsize:before {
  content: "\e642";
}

.icon-close:before {
  content: "\e643";
}

.icon-restore:before {
  content: "\e600";
}

.icon-maxsize:before {
  content: "\e644";
}

